.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  ul  li {
    list-style: none;

    small {
      font-size: .7rem;
    }
  }

  .attribution {
    flex-shrink: 1;
  }
}
