.breadcrumbs {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }

  .breadcrumb {
    border-radius: .5rem;
    letter-spacing: 1px;
    display: inline-flex;
    position: relative;
    text-transform: uppercase;
    font-size: 1rem;

    a {
      text-decoration: none;
    }

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      color: var(--light);
      text-align: center;
      margin-left: .5rem;
    }

    &:last-child {
      border: none;
    }
  }
}
